<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HyperConsole</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
</head>
<body>
    <main>
        <section class="main">
            <div class="main-container">
                <a class="main-container__link" href="/">
                    <h1 class="main-container__title">HyperConsole</h1>
                </a>
                <div class="query-box">
                    <input class="main-container__query" type="text" placeholder="Enter Javascript Library"/>
                </div>
            </div>
        </section>
        <section class="items">
        </section>
    </main>
    <span class="placeholder"></span>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>